
@{
    ViewBag.Title = "AbonamnetsPage";
}


<div>
    <p>
        Here you can find various subscriptions available:</p>
    <div>
        <a href="@Url.Action("CreateMonthlySubscription", "Subscription")" class="btn btn-primary">Create Monthly Abonement</a>
        <a href="@Url.Action("CreateQuarterlySubscription", "Subscription")" class="btn btn-primary">Create Quarterly Abonement</a>
        <a href="@Url.Action("CreateHalfYearlySubscription", "Subscription")" class="btn btn-primary">Create Half Yearly Abonement</a>
    </div>
</div>


