
@model IEnumerable<FitPlaneLife.Domain.Entities.User.UAbonements>

@{
     ViewBag.Title = "Abonements";
}

<center><h2><b>ABONEMENTS</b></h2></center>
<div>
     <center>
          <p style="font-weight:bold;">
               Here you can find various subscriptions available:
          </p>
     </center>
     <div class="d-flex justify-content-center my-3 flex-wrap">
          @foreach (var abonement in Model)
          {
               
               <div class="abonement-item">
                    <a href="@Url.Action("Create", "Subscription")" class="abonement-link">
                         <div class="abonement-content">
                              <h3 style="font-size: 24px; font-weight: bold;">@abonement.Type Abonement</h3>
                              <span style="font-size: 18px;">Price: $@abonement.Price</span><br />
                              <span style="font-size: 18px;">Duration: @abonement.Duration months</span>
                         </div>
                    </a>
               </div>
          }
     </div>
</div>

<style>
     .abonement-item {
          margin: 10px;
     }

     .abonement-link {
          text-decoration: none;
     }

     .abonement-content {
          background-color: #EF7F29;
          color: white;
          padding: 20px;
          height: 200px;
          width: 250px;
          border-radius: 15px;
          border: 1px solid black;
          text-align: center;
          transition: background-color 0.3s ease;
     }

          .abonement-content:hover {
               background-color: #E4DAD2;
          }
</style>