@model IEnumerable<FitPlaneLife.Domain.Entities.User.Subscription>

<!DOCTYPE html>
<html>
<head>
    <title>Subscriptions</title>
</head>
<body>
    <center><h2><b>ABONEMENTS</b></h2></center>

    <p>
        <center><h2><b style="color: red;">Here you can find various subscriptions available:</b></h2></center>
    </p>
    <div style="display: flex; justify-content: center;">
        @foreach (var subscription in Model)
        {

            var actionName = "Create" + subscription.Type + "Subscription";
            <div class="abonement-item">
                <a href="@Url.Action(actionName, "Subscription")" class="abonement-link">
                    <div class="abonement-content">
                        <h3 style="font-size: 24px; font-weight: bold;">@subscription.Name Abonement</h3>
                        <span style="font-size: 18px;">Price: $@subscription.Price</span><br />
                        <span style="font-size: 18px;">Duration: @subscription.Duration months</span>
                    </div>
                </a>
            </div>
        }
    </div>
</body>
</html>
